#fullbody{
    display: inline-flex;
    flex-direction: row;
    width: 1440px;
    height:auto!important;
    height:588px;
    min-height:588px;
    left:12.5%;
    right:12.5%;
    margin:0;
    position: absolute;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
}
#logindiv{
    background-color: #222;
    width: 240px;
    height: 112px;
}
#loginspan{
    width:240px;
    text-align: center;
    padding: 40px 0 40px 0;
    color:white;
    font-size: 24px;
    cursor: pointer;
}
.frame{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    border-radius: initial;
    background-color: white;
    
}
#floattitle{
    height: 259px;
    width: 240px;
}
#indexdiv{
    font-size :18px;
    color:grey
}
#floatbottom{
    margin: 2px 0 2px 0;
    text-align: center;
    height: 325px;
    display: flex;
    flex-direction: column;
    color:rgb(73, 73, 73)
}
li{
    padding:7px;
    
}
table{
    display: block;
    padding:60px 60px 60px 60px
}
aside{


    position:fixed;
    left:12.5%;
    top:0;

}
body{
    margin:0;
    width:100%;
    height: 100%;
    margin: 0; 
    padding: 0;
    
}
html{
    width:100%;
    height: 100%;
    margin: 0; 
    padding: 0;
}
.postblock{
    height:300px;
    display: block;
    background-color: white;
    right:0%;
    margin:2px 0 0 0;
    padding: 40px;
}
#postarea{
    margin:0 0 0 244px;
    display: inline-flex;
    flex-direction: column;
    height:auto!important;
    height:588px;
    min-height:588px;
    width:auto!important;
    width:1196px;
    min-width:1196px;
    right:0%;
    position: absolute;
}
#indextable{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0 80px;
}
#indexspe{
    border-left:1px solid rgb(102, 102, 102);
    
}
.table2{
    padding:3px;
}
.title{
    font-size: 1.7em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: center;
    font-weight: 400;
    color: #555;
    margin: initial;
    padding: 0;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    position: relative;
    cursor: pointer;
}
.time{
    border-bottom: 1px dashed #999;
    cursor: help;
    font-size: 12px;
    text-align: center;
    line-height: 2;
}
.infodiv{
    font-size: 12px;
    text-align: center;
    color: #999;
}
.division{
    font-size: 12px;
    text-align: center;
    color: #999;
    margin: 0 0.5em;
}
.postarticle{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 0 0 20px 0;
    text-align: justify;
    overflow-wrap: break-word;
}
.info{
    margin:0 0 20px 0;
}
.btn-show-article{
    display: inline-block;
    padding: 0 10px 0 20px;
    font-size: 14px;
    color: #555;
    background: #fff;
    border: 2px solid #555;
    text-decoration: none;
    border-radius: 2px;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    line-height: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    cursor: pointer;
    text-align: center;
    margin-left:45%
}
.btn-show-article:hover {
    border-color: #222;
    color: #fff;
    background: #222;
}

.title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.title:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
  #writearea{
      background-color: white;
  }
  #title-input{
      width:99.5%
  }
  #addtagbtn{
      width:22px;
      border: black;
      border-width: 1px;
      margin:0;
      border-style: solid;
      text-align: center;
      cursor: pointer;
      color: black;
  }
  #addtags0{
    display: flex;
    flex-direction: row;
    background-color: rgb(175, 170, 170);
    width:1196px;
  }
  .plustag{
    display: flex;
    flex-direction: row;
  }
  #deletebtn{
    width:22px;
    border: black;
    border-width: 1px;
    border-left: 0;
    margin:0;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    color: black;
  }
  #btn-save-article{
      display:inline-block;
      margin:0 300px 0 300px;
  }
  #tagdiv{
    padding:0 10px 0 10px;
    cursor: pointer;
    color: gray;
    text-decoration: underline;
    font-style:italic
  }
  #back-to-top {
    width:240px;
    color: #000;
    background: rgb(77, 74, 74);
    font-size: 12px;
    opacity: 0.6;
    cursor: pointer;
    text-align: center;
    margin: 106px 0 0 0;
  }
#commentarea{
    background-color: white;
    margin:5px 0 0 0 ;
    
}
#comment{
    background-color: white;
    margin:5px 0 0 0 ; 
}
#commentinfo{
    border-bottom: #999;
    border-bottom-style: dotted
}
#node2{
    margin:0;
    padding:0;
}
#deletebtn1{
    width:22px;
    border: black;
    border-width: 1px;
 
    margin:0;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    color: black;
  }



.shadow{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:998;
    background-color:#000;
    opacity:0.6;
    display:none;
}
.addBox{
    position:absolute;
    background-color: white;
    z-index:999;
    width:400px;
    height:300px;
    display:none;
    top:300px;
    left:760px
}
.btn{
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.12);
    padding:1px;
}
#closebtn{
    margin:0 100% 100px 0 ;
}
#loginbtn{
    width: 100%;
    height: auto;
    padding: 100px 130px;
}
